// /* Global */

button.ant-btn {
  cursor: pointer;
  height: auto;
  width: 100%;
}

.ant-btn > span {
  display: block;
  width: 100%;
  font-size: $font-size-16;
  line-height: $line-height-h4;
}
