 //base colors

$black-100: #000000;
$black-10 : #07081C;
$black-20  : #424242;

$white-100: #FFFFFF;

$primary-100 : #2127C2;
$primary-50 : #4A4FE0 ;
$primary-20 : #686DE5 ;
$primary-10 :  #A4A7F0;
$primary-05 : #C3C4F5;
$primary-0 : #E1E2FA;

$secondary-100 : #EF6100;
$secondary-50 : #F27B2A;

$grey-100 : #202532;
$grey-80 : #50545E;
$grey-70 : #63666F;
$grey-60 : #838791  ;
$grey-40 : #BEC0C5;
$grey-10 : #D9DADD;
$grey-05 : #EAEAEB ;
$grey-0 : #F2F2F3;

$success-100 : #086343;
$success-50 : #008556;
$success-05 : #D6F3E2;

$warning-100: #A64F21;
$warning-50: #E86825;
$warning-05: #FFE1BE;


$alert-100: #A64F21;
$alert-50: #9F1B1F;
$alert-05: #FFD6D7;

$body-text : #4E5893;
$border-line : #B5B7EB;
$bg-light : #F6F6FD;

//heading color
$heading : #000C53;

// button hover/disable state
$button-hover : #000E64;
$button-disabled : #DADADA;

$button-text-disabled: #838791;